[Unit]
Description=rpi-security service
After=multi-user.target

[Service]
Type=idle
StandardOutput=null
TimeoutStartSec=15
ExecStart=/usr/local/bin/rpi-security.py
ExecStop=/usr/bin/pkill rpi-security.py

[Install]
WantedBy=multi-user.target
